.nav ul{
    background: #333;
    color: #fff;
    list-style:none;
    display: flex;
}
.nav ul li{
    font-size:18px;
    margin-right:20px;
}
.nav ul li a{
    color: #fff;
    text-decoration: none;
}
.nav button {
    background-color: #0b44ff;
}